include mixins

ons-page
  ons-toolbar
    .left: ons-toolbar-button(ng-click="menu.toggleMenu()"): ons-icon(icon="ion-navicon")
    .center Tu cuenta
    .right: +toolbar-right
  
  ons-row.profile
    ons-col
      .profileImage: img(src="app/img/profile.png", alt="")
      .profileName Nombre del usuario
      .profileMail correo@electronico.com
      .profileCel (55)8532-9420
  
  .historial
    ons-row: ons-col.instrucciones Desliza a la derecha para ver tu historial de compras
    ons-row
      ons-col
    ons-row
      ons-col
        ons-carousel(style="height:290px; width:100%;", swipeable, overscrollable, auto-scroll )
          - for(i=0; i<4; i++)
            ons-carousel-item
              .pedido
                ons-row
                  ons-col: .num 39194
                  ons-col: .fecha 15-02-2016
                ons-row
                  .detalles(ng-scrollable style="height:80px;")
                    | - Botella x2 <br>
                    | - Vasos x5<br>
                    | - Cubiertos x1<br>
                    | - Cervilletas x1<br>
                    | - Botella x2 <br>
                    | - Vasos x5<br>
                    | - Cubiertos x1<br>
                    | - Cervilletas x1<br>
                ons-row
                  ons-col: .total $405.00
                  ons-col: .estado Por entregar
