mixin toolbar-right
    ons-toolbar-button(ng-click="Navigator.pushPage('app/view/busqueda.html')"): ons-icon(icon="ion-android-search")
    +cartBtn

mixin cartBtn
  //ons-toolbar-button(ng-click="menu.setMainPage('app/view/carrito.html')"): ons-icon(icon="ion-ios-cart-outline", ng-class="{'active-cart': cartCount > 0}", data="{{cartCount}}")
  ons-toolbar-button(ng-click="Navigator.pushPage('app/view/carrito.html')"): ons-icon(icon="ion-ios-cart-outline", ng-class="{'active-cart': cartCount > 0}", data="{{cartCount}}")

mixin mainSlider
  slick(infinit="true", lazy-load="ondemand", autoplay="true", arrows="false").portadaSlider
    div: img(ng-src="app/img/promo1.png", alt="")
    div: img(ng-src="app/img/promo2.png", alt="")
